<!-- <p>login works!</p> -->
<body class="account-page">
  <div class="main-wrapper">
    <div class="account-content">
      <div class="container">
        <div class="account-logo">
          <a href="dashboard"
            ><img
              src="/src/assets/image/logo2.png"
              alt="Dreamguy's Technologies"
          /></a>
        </div>

        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to our dashboard</p>

            <form
              class="needs-validation custom-form mt-4 pt-2"
              novalidate=""
              (ngSubmit)="SignInEmployee()"
              action="https://smarthr-ci.dreamguystech.com/template/dark/public/dashboard"
            >
              <div class="form-group">
                <label for="staffID" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="staffID"
                  placeholder="Enter Id"
                  required=""
                  [(ngModel)]="SignIn.staffID"
                  value="FE44"
                  name="staffID"
                />
                <div class="invalid-feedback">Please Enter StaffId</div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label for="userpassword" class="form-label"
                      >Password</label
                    >
                  </div>
                  <div class="col-auto">
                    <a class="text-muted" href="auth-recoverpw">
                      Forgot password?
                    </a>
                  </div>
                </div>
                <div class="position-relative">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter password"
                    required=""
                    [(ngModel)]="SignIn.password"
                    value="grete123"
                    name="password"
                  />
                  <div class="invalid-feedback">Please Enter Password</div>
                  <span class="fa fa-eye-slash" id="toggle-password"></span>
                </div>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary account-btn" type="submit">
                  Login
                </button>
              </div>
              <div class="account-footer">
                <p>
                  Don't have an account yet?
                  <a href="register">Register</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
