<body data-layout-mode="dark" data-topbar="dark" data-sidebar="dark">
  <div class="main-wrapper">
    <!-- <div class="col-lg-3"></div> -->
    <app-sidebar></app-sidebar>
    <!-- <div class="col-lg-9">
    <h1 class="mb-3">Employees</h1>

    <table class="table" *ngIf="employees && employees.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Salary</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.salary | number }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <a [routerLink]="['/employees', 'edit', employee.id]">View</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!employees || employees.length <= 0">No Employees Found</p>
  </div> -->
    <div class="page-wrapper">
      <div class="content container-fluid">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Employee</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Employee</li>
              </ul>
            </div>
            <div class="col-auto float-end ms-auto">
              <a
                href="#"
                class="btn add-btn"
                data-bs-toggle="modal"
                data-bs-target="#add_employee"
                ><i class="fa fa-plus"></i> Add Employee</a
              >
              <div class="view-icons">
                <a href="employees" class="grid-view btn btn-link active"
                  ><i class="fa fa-th"></i
                ></a>
                <a href="employees_list" class="list-view btn btn-link"
                  ><i class="fa fa-bars"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row filter-row">
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
              <input type="text" class="form-control floating" />
              <label class="focus-label">Employee ID</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
              <input type="text" class="form-control floating" />
              <label class="focus-label">Employee Name</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group custom-select">
              <select class="select floating">
                <option>Select Designation</option>
                <option>Web Developer</option>
                <option>Web Designer</option>
                <option>Android Developer</option>
                <option>Ios Developer</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="d-grid">
              <a href="#" class="btn btn-success w-100"> Search </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="container col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3 profile-container"
          >
            <div class="profile-widget" *ngFor="let employee of employees">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-02.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    (click)="editEmployee(employee.id)"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">{{ employee.name }}</a>
              </h4>
              <div class="small text-muted">{{ employee.department }}</div>
            </div>
          </div>
        </div>
        <!-- <div class="row"> -->
        <!-- <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees; index as i">
                <td>
                  <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                    <a href="profile">{{ employee.name }}</a>
                  </h4>
                </td>
                <td>
                  <div class="small text-muted">{{ employee.department }}</div>
                </td>
                <td>{{ employee.id }}</td>
                <td>{{ employee.email }}</td>
                t
                <td>{{ employee.salary }}</td>
                <td>{{ employee.phone }}</td>
                <td>
            <a [routerLink]="['/employees', 'edit', employee.id]">View</a>
          </td>
              </tr>
            </tbody>
          </table> -->
        <!-- <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget" *ngFor="let employee of employees">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-02.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">{{ employee.name }}</a>
              </h4>
              <div class="small text-muted">{{ employee.department }}</div>
            </div>
          </div> -->
        <!-- <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-09.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Richard Miles</a>
              </h4>
              <div class="small text-muted">Web Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-10.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">John Smith</a>
              </h4>
              <div class="small text-muted">Android Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-05.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Mike Litorus</a>
              </h4>
              <div class="small text-muted">IOS Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-11.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Wilmer Deluna</a>
              </h4>
              <div class="small text-muted">Team Leader</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-12.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Jeffrey Warden</a>
              </h4>
              <div class="small text-muted">Web Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-13.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Bernardo Galaviz</a>
              </h4>
              <div class="small text-muted">Web Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-01.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Lesley Grauer</a>
              </h4>
              <div class="small text-muted">Team Leader</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-16.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Jeffery Lalor</a>
              </h4>
              <div class="small text-muted">Team Leader</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-04.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Loren Gatlin</a>
              </h4>
              <div class="small text-muted">Android Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-03.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Tarah Shropshire</a>
              </h4>
              <div class="small text-muted">Android Developer</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="profile-img">
                <a href="profile" class="avatar"
                  ><img
                    src="https://smarthr-ci.dreamguystech.com/template/dark/public/assets/img/profiles/avatar-08.jpg"
                    alt=""
                /></a>
              </div>
              <div class="dropdown profile-action">
                <a
                  href="#"
                  class="action-icon dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="material-icons">more_vert</i></a
                >
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_employee"
                    ><i class="fa fa-pencil m-r-5"></i> Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#delete_employee"
                    ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                  >
                </div>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                <a href="profile">Catherine Manseau</a>
              </h4>
              <div class="small text-muted">Android Developer</div>
            </div>
          </div> -->
        <!-- </div> -->
      </div>

      <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Employee</h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #form="ngForm" (ngSubmit)="addEmployees()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Full Name <span class="text-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="name"
                        [(ngModel)]="addEmployee.name"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Last Name</label>
                      <input class="form-control" type="text" />
                    </div>
                  </div> -->
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Username <span class="text-danger">*</span></label
                      >
                      <input class="form-control" type="text" />
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        type="email"
                        name="email"
                        [(ngModel)]="addEmployee.email"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Password</label>
                      <input
                        class="form-control"
                        type="password"
                        name="password"
                        [(ngModel)]="addEmployee.password"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Confirm Password</label>
                      <input class="form-control" type="password" />
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Staff ID <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="staffID"
                        [(ngModel)]="addEmployee.staffID"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Joining Date <span class="text-danger">*</span></label
                      >
                      <div class="cal-icon">
                        <input
                          class="form-control datetimepicker"
                          type="text"
                        />
                      </div>
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Phone </label>
                      <input
                        class="form-control"
                        type="number"
                        name="phone"
                        [(ngModel)]="addEmployee.phone"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Company</label>
                      <select class="select">
                        <option value="">Global Technologies</option>
                        <option value="1">Delta Infotech</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Department <span class="text-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="department"
                        [(ngModel)]="addEmployee.department"
                      />
                      <!-- <select class="select">
                        <option>Select Department</option>
                        <option>Web Development</option>
                        <option>IT Management</option>
                        <option>Marketing</option>
                      </select> -->
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label
                        >Designation <span class="text-danger">*</span></label
                      >
                      <select class="select">
                        <option>Select Designation</option>
                        <option>Web Designer</option>
                        <option>Web Developer</option>
                        <option>Android Developer</option>
                      </select>
                    </div>
                  </div> -->
                </div>
                <!-- <div class="table-responsive m-t-15">
                <table class="table table-striped custom-table">
                  <thead>
                    <tr>
                      <th>Module Permission</th>
                      <th class="text-center">Read</th>
                      <th class="text-center">Write</th>
                      <th class="text-center">Create</th>
                      <th class="text-center">Delete</th>
                      <th class="text-center">Import</th>
                      <th class="text-center">Export</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Holidays</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Leaves</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Clients</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Projects</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Tasks</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Chats</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Assets</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Timing Sheets</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" type="submit">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="edit_employee" class="modal custom-modal fade" role="dialog">
        <div
          class="modal-dialog modal-dialog-centered modal-lg"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Employee</h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #form="ngForm" (ngSubmit)="updateEmployee()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Full Name <span class="text-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        value="John"
                        type="text"
                        name="name"
                        [(ngModel)]="employeeDetails.name"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Last Name</label>
                      <input class="form-control" value="Doe" type="text" />
                    </div>
                  </div> -->
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Username <span class="text-danger">*</span></label
                      >
                      <input class="form-control" value="johndoe" type="text" />
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        value="johndoe@example.com"
                        type="email"
                        name="email"
                        [(ngModel)]="employeeDetails.email"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Password</label>
                      <input
                        class="form-control"
                        value="johndoe"
                        type="password"
                        name="password"
                        [(ngModel)]="employeeDetails.password"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Confirm Password</label>
                      <input
                        class="form-control"
                        value="johndoe"
                        type="password"
                      />
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Staff ID <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        value="FT-0001"
                        readonly
                        class="form-control floating"
                        name="staffID"
                        [(ngModel)]="employeeDetails.staffID"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Joining Date <span class="text-danger">*</span></label
                      >
                      <div class="cal-icon">
                        <input
                          class="form-control datetimepicker"
                          type="text"
                        />
                      </div>
                    </div>
                  </div> -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Phone </label>
                      <input
                        class="form-control"
                        value="9876543210"
                        type="text"
                        name="phone"
                        [(ngModel)]="employeeDetails.phone"
                      />
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Company</label>
                      <select class="select">
                        <option>Information Engineering Technologies</option>
                        <option>Delta Infotech</option>
                        <option selected>International Software Inc</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label
                        >Department <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        name="department"
                        [(ngModel)]="employeeDetails.department"
                      />
                      <!-- <select class="select">
                        <option>Select Department</option>
                        <option>Web Development</option>
                        <option>IT Management</option>
                        <option>QA</option>
                      </select> -->
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label
                        >Designation <span class="text-danger">*</span></label
                      >
                      <select class="select">
                        <option>Select Designation</option>
                        <option>Web Designer</option>
                        <option>Web Developer</option>
                        <option>Android Developer</option>
                      </select>
                    </div>
                  </div> -->
                </div>
                <!-- <div class="table-responsive m-t-15">
                <table class="table table-striped custom-table">
                  <thead>
                    <tr>
                      <th>Module Permission</th>
                      <th class="text-center">Read</th>
                      <th class="text-center">Write</th>
                      <th class="text-center">Create</th>
                      <th class="text-center">Delete</th>
                      <th class="text-center">Import</th>
                      <th class="text-center">Export</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Holidays</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Leaves</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Clients</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Projects</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Tasks</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Chats</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Assets</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                    <tr>
                      <td>Timing Sheets</td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input checked="" type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                      <td class="text-center">
                        <input type="checkbox" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" type="submit">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="delete_employee" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Employee</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-primary continue-btn"
                      (click)="deleteEmployee(employeeDetails.id)"
                      >Delete</a
                    >
                  </div>
                  <div class="col-6">
                    <a
                      href="javascript:void(0);"
                      data-bs-dismiss="modal"
                      class="btn btn-primary cancel-btn"
                      >Cancel</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  console.log("it's working");
</script>
